.footer {
  display: flex;
  padding: 60px 0px;
  background: $secondary-background-color;
}

.footer-markup {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: baseline;
  }
}
.footer-info {
  min-width: 231px;
  max-height: 132px;
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.address {
  margin-bottom: 0;
}
.address-list {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
.accurate {
  display: block;
  margin: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  &:hover,
  &:focus {
    color: $primary-white-color;
  }
}
.address-list__link {
  display: block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.6);
  }
}

.network-container {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 5px;
  }
  @media screen and (min-width: 1200px) {
    flex-shrink: 1;
    margin-left: 70px;
    margin-top: 15px;
    min-width: 206px;
    max-height: 80px;
  }
}
.network-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
}
.network-list {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }
}
.network-list__item {
  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.network-list__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: $primary-white-color;
  transition: background-color 250ms $transition-timing-function,
    border 250ms $transition-timing-function;

  &:hover,
  &:focus {
    border: $accent-color;
    background-color: $accent-color;
    fill: $primary-white-color;
  }
}
