
.clients {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}
.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: -15px;
}

.clients-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;
    @media screen and (min-width: 768) {
        width: 226px;
        
    }

}
.clients-list__item {
    display: flex;
    justify-content: center;
    width: calc((100% - 6 * 15px) / 2);
    margin: 15px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color 250ms $transition-timing-function,
    border 250ms $transition-timing-function;
    &:hover, &:focus {
    border: 1px solid $accent-color;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 6 * 15px) / 3);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
        margin-right: 15px;
    &:last-child {
        margin-right: 0;
    }
    }
    
}
.clients-list__icon {
    transition: fill 250ms $transition-timing-function;
    fill: $primary-icon-color;
    .clients-list__item:hover &,
    .clients-list__item:focus & {
        fill: $accent-color;
    }
}
