.form-container {
  margin: 0;
  padding: 0;
  padding-top: 60px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 13px;
    margin-left: auto;
  }
}

.form-footer {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: flex-end;
  }
}

.footer-field__label {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-white-color;
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }
}
.footer-field__input {
  display: block;
  margin: 0;
  margin-top: 20px;
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  color: $primary-white-color;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background: transparent;
  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-field__btn {
  display: flex;
  align-items: center;

  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 29px;
  min-width: 200px;
  max-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  transition: box-shadow 250ms $transition-timing-function;
  color: $primary-white-color;
  background-color: $accent-color;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}
.footer-field__icon {
  margin-left: 10px;
}
