.page-header {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  background: $primary-white-color;
  border-bottom: 1px solid #ececec;
}

.page-header__nav-main {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}
.site-nav {
  @media screen and (max-width: 767px) {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    padding: 58px 0px 0px 40px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 38px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 43px;
  }
}
.site-nav__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 52px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.site-nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.18px;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  transition: color 250ms $transition-timing-function;
  color: $title-tex-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.current {
  color: $accent-color;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 47px;
    bottom: auto;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $accent-color;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
.site-contacts {
  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    top: 75%;
    left: 0;
    transform: translateY(-75%);
    padding: 0px 0px 64px 40px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    padding-top: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-left: auto;
  }
}
.site-contacts__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    &:first-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-left: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  transition: color 250ms $transition-timing-function;
  color: $primary-text-color;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.16;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
.mailto {
  @media screen and (max-width: 767px) {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
}

.site-contacts__icon {
  opacity: 0;
  @media screen and (min-width: 768px) {
    opacity: 1;
    margin-right: 8px;
    transition: fill 250ms $transition-timing-function;
    fill: $primary-text-color;
    .site-contacts__link:hover &,
    .site-contacts__link:focus & {
      fill: $accent-color;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
.social-networks {
  display: none;
  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 90%;
    left: 0;
    transform: translateY(-90%);
    padding: 0 0 48px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;
    &__item {
      position: relative;
      margin-left: 10px;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &__icon {
      position: absolute;
      top: 50%;
      left: 100%;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}
