.hero {
  height: 400px;
  max-width: 580px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  text-align: center;
  background: $secondary-background-color;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  &-title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: filter 250ms $transition-timing-function;
  color: $primary-white-color;
  background-color: $accent-color;
  &:hover,
  &:focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
.overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 767px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.5),
        rgba(47, 48, 58, 0.3)
      ),
      url(../images/img-480/img-overlay@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/img-768/img-overlay@2x.jpg);

      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.5),
            rgba(47, 48, 58, 0.3)
          ),
          url(../images/img-1200/img-overlay@3x.jpg);
      }
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 880px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.5),
        rgba(47, 48, 58, 0.3)
      ),
      url(../images/img-480/img-overlay@768.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/img-768/img-overlay@768-2x.jpg);
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.5),
            rgba(47, 48, 58, 0.3)
          ),
          url(../images/img-1200/img-overlay@768-3x.jpg);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/img-480/img-overlay@1200.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/img-768/img-overlay@1200-2x.jpg);
      @media (min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.5),
            rgba(47, 48, 58, 0.3)
          ),
          url(../images/img-1200/img-overlay@1200-3x.jpg);
      }
    }
  }
}
