.peculiarities {
    background: $primary-white-color;
    padding-top: 94px;
    padding-bottom: 94px;
}
.peculiarities-list {
    display: flex;
    flex-wrap: wrap;
}
.peculiarities-list__item {
    width: 270px;
    margin-left: 30px;
    &:first-child {
        margin-left: 0;
    }
}
.peculiarities-list__title {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $title-tex-color;
}
.peculiarities-list__text {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #f5f4fa;
    border-radius: 4px;
    & + & {
        margin-left: 30px;
    }
}