.soft-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
.soft-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    &:nth-child( 3n ) {
        margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
    &:hover {
        border: 1px solid #eeeeee;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.soft-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.soft-card__title {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-tex-color;
}
.soft-card__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $primary-text-color;
}
.description {
    position: relative;
    overflow: hidden;
}
.wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms $transition-timing-function,
        opacity 750ms $transition-timing-function;
    background-color: rgba(33, 150, 243, 0.9);
    .description:hover & {
        transform: translateY(0);
        opacity: 1;
    }
}
.description-info {
    position: absolute;
    display: block;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    top: 63px;
    left: 24px;
    right: 24px;
    color: #ffffff;
}
