html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
}